<div class="textblock"></div>
    <h2>Fråga {{currentQuestion}}</h2>

    <!-- <img src='{{imageSource}}' alt='{{imageAlt}}'> -->

    <div class="questioncardContainer">
        <div class="questioncard">
            <p>{{a1}}</p>
        </div>

        <div class="questioncard">
            <p>{{a2}}</p>
        </div>

        <div class="questioncard">
            <p>{{a3}}</p>
        </div>

        <div class="questioncard">
            <p>{{a4}}</p>
        </div>
    </div>
</div>