{% extends "template.njk" %}
{% block content %}
<div class="textblock">
    <h1>{{ header }}</h1>

    <p>Klicka
    <a href="/quiz/question">här</a>
    för att gå till quizet</p>
</div>
{% endblock %}